.BroadcastMessage >header{
    margin-bottom:20px
}
.BroadcastMessage >header >*{
    margin-right: 15px;
}

.msg-content{
    margin: 10px 20px;
    padding:2vh 10vw;
    box-sizing: border-box;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.msg-content >h5{
    font-size: 26px;
    text-align: center;
}

.msg-content >p{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}
