.header {
    height: 46px;
    line-height: 46px;
    text-align: right;
    overflow: hidden;
}
.header >div{
    display: inline-block;
    margin: 0 15px;
    text-align: center;
}
.header >div >i{
    cursor: pointer;
}

.logo{
    float: left;
    clear: both;
}

.pattern {
    width: 15px;
    cursor: pointer;
}

.mainScrollbar {
    width: 100vw;
    height: calc(100vh - 46px);
}

.mainWrap{
    width: 100vw;
    display : inline-block;
    vertical-align: top;
    height: calc(100vh - 46px);
    margin: 0;
    padding: 0;
    transition: width 0.3s, left 0.3s, right 0.3s, padding 0.3s;
}

.menuWrap{
    position: absolute;
    left: 0;
    height: calc(100vh - 46px - 38px);
    transition: width 0.3s, left 0.3s, right 0.3s, padding 0.3s;
    z-index: 2;
    overflow-x: hidden;
}

.mainContent{
    height: calc(100vh - 46px - 56px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 10px;

}

.sidebarExpand{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    border-top-right-radius: 2px;
    cursor: pointer;
    width: 100%;
    transition: width 0.3s, left 0.3s, right 0.3s, padding 0.3s;
}
